.board {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}
.score {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  font-size: 50px;
}
.cell {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}